<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1><a href="/book/listBook">도서목록</a></h1>
<hr>
<form method="get" action="listBook" >
	<select name="option">
		<option value="bookid">도서번호</option>
		<option value="bookname">도서명</option>
		<option value="publisher">출판사</option>
		<option value="price">가격</option>
	</select>
	<input type="text" name="keyword" size="15">
	<input type="submit" value="검색">
</form>
	<table border="1">
		<tr>
			<th>도서번호</th>
			<th>도서명</th>
			<th>가격</th>
			<th>출판사</th>
			

		</tr>
		<tr th:each="list:${list}">
			<td th:text="${list.bookid}">도서번호</td>
			<td>
				<a th:href="@{/book/detailBook(bookid=${list.bookid})}">
					<span th:text="${list.bookname}">책이름</span>
				</a>
			</td>
			<td th:text="${list.price}">가격</td>
			<td th:text="${list.publisher}">출판사</td>
		</tr>


	</table>
	<a th:href="@{/book/insertBook.html}" th:text="도서등록"></a>
</body>
</html>