<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>상품목록</h1>
<h2 th:text=${session.id}></h2>
<hr>
<table border="1">
	<tr>
		<th>상품번호</th>
		<th>상품명</th>
		<th>수량</th>
		<th>가격</th>
		<th>상품이미지</th>
	</tr>
	<tr th:each="list:${list}">
		<td th:text="${list.id}"></td>
		<td><a  th:text="${list.name}" th:href="@{|/goods/detailGoods/${list.id}|}"></a></td>
		<td th:text="${list.qty}"></td>
		<td th:text="${list.price}"></td>
		<td><img th:src="@{|../../images/${list.fname}|}" width=100px, height=100px></td>
	</tr>
</table>
<a th:href="@{/goods/insertGoods}">상품등록</a><br>
<a th:href="@{/member/logout}">로그아웃</a>
</body>
</html>