<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdn.iamport.kr/v1/iamport.js"></script>

<script>
	$(function(){
			$("#order").click(function(){
				var no = $("#no").html();
				var name = $("#name").html();
				var email = $("#email").html();
				var tel = $("#tel").html();
				var addr = $("#addr").html();
				var item = $("#item").html();
				var price = $("#price").html();
				var data = {
					pg:"kcp",
					pay_method:"card",
					merchant_uid:no +"_"+new Date().getTime(),
					name:item,
					amount:price,
					buyer_email:email,
					buyer_name:name,
					buyer_tel:tel,
					buyer_addr:addr,
				}
				
				//var IMP = window.IMP;   생략가능
				IMP.init("imp45040256"); 
				IMP.request_pay(data,
				function(res){
					if(res.success){
						console.log("결제완료");
						console.log("고유ID : " + res.imp_uid);
						console.log("주문 금액 : " + res.paid_amount);
						console.log("카드승인번호 : " + res.apply_num);
						console.log("고유ID : " + res.merchant_uid);
						data.imp_uid=res.imp_uid;
						data.apply_num = res.apply_num;
						data.buyer_id = $("#id").html();
						
						delete data.pg; <!-- data안에있는 pg값 삭제-->
						$.ajax({
							url:"/goods/payment",
							data:data,
							success:function(re){
								location.href="/goods/paymentOK.html";
							}
						})
					}else{
						location.href="/goods/paymentError.html";
						alert(res.error_msg)
					}
					console.log(res.error_msg)
					console.log(res);
				});
		});
	});
</script>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<h1>주문 정보</h1>
<hr>
<span id="id" th:text="${list.id}"></span><br>
<span id="no" th:text="${goods.id}"></span><br>
<span id="name" th:text="${list.name}"></span><br>
<span id="tel" th:text="${list.tel}"></span><br>
<span id="email" th:text="${list.email}"></span><br>
<span id="addr" th:text="${list.addr}"></span><br>
<span id="item" th:text="${goods.name}"></span><br>
<span id="price" th:text="${goods.price}"></span><br>

<h3>위의 주문정보로 결제할까요?</h3>
<button id="order">결제</button>


</body>
</html>