<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<table border="1">
		<tr>
			<td>글번호</td>
			<td th:text="${list.no}"></td>
		</tr>
		<tr>
			<td>작성자</td>
			<td th:text="${list.writer}"></td>
		</tr>
		<tr>
			<td>작성일자</td>
			<td th:text="${list.regdate}"></td>
		</tr>
		<tr>
			<td>조회수</td>
			<td th:text="${list.hit}"></td>
		</tr>

		<tr>
			<td>내용</td>
			<td><textarea th:text="${list.content}" rows="20" cols="20"
					readonly></textarea></td>
		</tr>
		<tr>

			<td>
				<div th:if="${list.fname} !=null">

					<div th:if="${#strings.endsWith(list.fname,'.jpg')}or ${#strings.endsWith(list.fname,'.gif')} or ${#strings.endsWith(list.fname,'.png')}"><!-- 이미지파일이면(확장자가 png,jpg,gif) -->
						<img th:src="@{'/images/'+${list.fname}}" width="150" height="150">
					</div>
					
					<div th:unless="${#strings.endsWith(list.fname,'.jpg')}or ${#strings.endsWith(list.fname,'.gif')} or ${#strings.endsWith(list.fname,'.png')}"><!-- 이미지파일이 아니면 -->
						<a th:href="@{'/images/'+${list.fname}}" th:text="${list.fname}"></a>
					</div>
					
				</div>

			</td>

		</tr>

	</table>
	<a th:href="@{/board/listBoard}" th:text="목록으로"></a>
	<a th:href="@{/board/insertBoard(no=${list.no})}" th:text="답글달기"></a>
</body>
</html>