<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<table border="1">
	<tr>
		<td>글번호</td>
		<td th:text="${list.no}"></td>
	</tr>
	<tr>
		<td>작성자</td>
		<td th:text="${list.writer}"></td>
	</tr>
	<tr>
		<td>작성일자</td>
		<td th:text="${list.writer}"></td>
	</tr>
	<tr>
		<td>조회수</td>
		<td th:text="${list.hit}"></td>
	</tr>
	<tr>
		<td>파일명</td>
		<td th:text="${list.fname}"></td>
	</tr>
	<tr>
		<td>내용</td>
		<td><textarea th:text="${list.content}" rows="20" cols="20" readonly></textarea></td>
	</tr>

</table>
	<a th:href="@{/board/listBoard}" th:text="목록으로"></a>
</body>
</html>