<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<table border="1">
	<tr>
		<td>글번호</td>
		<td>글제목</td>
		<td>작성자</td>
		<td>등록일</td>
		<td>조회수</td>
	</tr>
	<tr th:each="list:${list}">
		<td th:text=${list.no}>글번호</td>
		<td ><a th:text=${list.title} th:href="@{/board/detailBoard(no=${list.no})}">글제목</a></td>
		<td th:text=${list.writer}>작성자</td>
		<td th:text=${list.regdate}>등록일</td>
		<td th:text=${list.hit}>조회수</td>
	</tr>
</table>

<a href="/board/insertBoard">게시물 등록</a>
</body>
</html>