<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdn.iamport.kr/v1/iamport.js"></script>

<script th:inline="javascript">
	$(function() {
		var IMP = window.IMP;
		IMP.init("imp45040256");
		//IMP.request_pay(param, callback함수) 함수는 결제창을 호출하는 함수
		$("#order").click(function() {
			IMP.request_pay({
				pg : 'kcp',
				pay_method : 'card',
				merchant_uid : 'b1234_' + new Date().getTime(),
				name : [[${goods.name}]],
				amount : [[${goods.price}]],
				buyer_email : [[${list.email}]],
				buyer_name : [[${list.name}]],
				buyer_tel : [[${list.tel}]],
				buyer_addr : [[${list.addr}]],
				buyer_postcode : '123-456',
			},

			function(res) {
				if(res.success){
					$("#imp_uid").val(res.imp_uid)
					$("#card_number").val(res.card_number)
					$("#merchant_uid").val(res.merchant_uid)
					$("#paid_amount").val(res.paid_amount)
					$("#goodsName").val(res.name)
					$("#name").val(res.buyer_name)
					$("#addr").val(res.buyer_addr)
					$("#tel").val(res.buyer_tel)
					$("#pay").submit(); 
				}else{
					console.log("결제실패")
					console.log(res.error_msg)
				}
			});
		})
	})
</script>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form action="/order/payok" method="post" id="pay">
<input type="hidden" name="imp_uid" id="imp_uid">
<input type="hidden" name="card_number" id="card_number">
<input type="hidden" name="merchant_uid" id="merchant_uid">
<input type="hidden" name="paid_amount" id="paid_amount">
<input type="hidden" name="goodsName" id="goodsName">
<input type="hidden" name="name" id="name">
<input type="hidden" name="tel" id="tel">
<input type="hidden" name="addr" id="addr">

</form>
<h1>주문 정보</h1>
<hr>
<table>
	<tr>
		<th>성명</th>
		<th th:text="${list.name}"></th>		
	</tr>
	<tr>
		<th>연락처</th>
		<th th:text="${list.tel}"></th>		
	</tr>
	<tr>
		<th>이메일</th>		
		<th th:text="${list.email}"></th>
	</tr>
	<tr>
		<th>주소</th>
		<th th:text="${list.addr}"></th>		
	</tr>
	<tr>
		<th>상품명</th>
		<th th:text="${goods.name}"></th>		
	</tr>
	<tr>
		<th>가격</th>
		<th th:text="${goods.price}"></th>		
	</tr>
</table>
<h3>위의 주문정보로 결제할까요?</h3>
<button id="order">결제</button>


</body>
</html>