<!DOCTYPE html>
<html>
<head>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<h2>상품등록</h2>
<div id="goodsForm">
	<input type="hidden" v-model="g.no"><br> 
	상품명 : <input type="text" v-model="g.name"><br> 
	가격 : <input type="text" v-model="g.price"><br> 
	수량 : <input type="text" v-model="g.qty"><br>
	<input type="file" v-on:change="fileChange"><br> 
	<button v-on:click="callAjax('/insertGoods')">등록</button>
</div>
<hr>
<table id ="goods">
	<thead>
		<tr>
			<th>상품번호</th>
			<th>상품명</th>
			<th>가격</th>
			<th>수량</th>			
		</tr>
		<tr v-for="g in list">
			<td>{{g.id}}</td>
			<td>{{g.name}}</td>
			<td>{{g.price}}</td>
			<td>{{g.qty}}</td>

		</tr>
	</thead>
</table>


<script>

var goodsForm = new Vue({
	el:"#goodsForm",
	data:{
		g:{
			no:0,
			name :"",
			price:0,
			qty:0,
			uploadFile:null
			
		}
	},
	methods:{
		fileChange:function(event){
			this.g.uploadFile = event.target.files[0]//선택한 파일을 g.uploadFile에 저장
		},
		callAjax:function(url){
			var f = new FormData();
			f.append("id",this.g.no);
			f.append("name",this.g.name);
			f.append("price",this.g.price);
			f.append("qty",this.g.qty);
			f.append("uploadFile",this.g.uploadFile);
			axios.post(url,f,axiosConfig).then(function(){
				location.reload();
			})
		
			
		}
	}
})

axios.get("/listGoods").then(function(res){
	var goods = new Vue({
		el:"#goods",
		data:{
			list: res.data
		},
		methods:{}
		
	})	
})

const axiosConfig = {
		headers : {
			"Content-Type" : "multipart/form-data"
		}
	}
</script>
</body>
</html>