<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script>

</script>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<table border="1">
		<tr>
			<th>고객번호</th>
			<th>고객명</th>
			<th>주소</th>
			<th>전화번호</th>
		</tr>
		<tr th:each="list:${list}">
		<input type="hidden" th:value="${list.custid}" id="custid">
			<td>
				<a th:href="@{/customer/detailCustomer(custid=${list.custid})}">
					<span th:text="${list.custid}">고객번호</span>
				</a>
			</td>
			<td th:text="${list.name}"></td>
			<td th:text="${list.addr}"></td>
			<td th:text="${list.phone}"></td>
		</tr>
		<a th:href="@{/customer/insertCustomer.html}" th:text="고객등록">고객등록</a>
	</table>

</body>
</html>