<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script>

$(function(){
	$(".deleteBtn").click(function(e){
		var re = confirm("정말로 삭제하시겠습니까?")
		if(re!=true){
			e.preventDefault();
		}
	})
})
</script>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h2>관리자 메뉴</h2>
<hr>
<table border="1">
	<tr>
		<th>아이디</th>
		<th>회원이름</th>		
		<th>ROLE</th>
		<th>삭제</th>
	</tr>
	<tr th:each="list:${list}">
		<td th:text="${list.id}"></td>
		<td th:text="${list.name}"></td>		
		<td th:text="${list.role}"></td>
		<td><a th:href="@{|/admin/delete/${list.id}|}" class="deleteBtn">삭제</a></td>
	</tr>
</table>

</body>
</html>